# 01 ‚Äî Data Preparation Notebook  
This notebook imports, inspects, and cleans the Civil Aviation Authority (CAA) flight punctuality data  
and the Met Office MIDAS weather-station metadata for Nelson Chikwesiri Nwigwe‚Äôs MSc project.

In [5]:
import pandas as pd
from pathlib import Path

# Base directory for your local project
base_path = Path(r"C:\Users\NEOWIN AUTOS\Documents\Github\weather_delay_project")

# File paths
caa_path   = base_path / "data" / "raw" / "202501_Punctuality_Statistics_Full_Analysis_Arrival_Departure.csv"
midas_path = base_path / "data" / "raw" / "midas-open_uk-hourly-weather-obs_dv-202507_station-metadata.csv"

# Load CAA dataset
caa_df = pd.read_csv(caa_path)
print(f"CAA data: {caa_df.shape[0]} rows √ó {caa_df.shape[1]} columns")
display(caa_df.head())

# Define MIDAS column names and load after skipping metadata lines
new_cols = [
    "src_id","station_name","station_file_name","historic_county","authority",
    "station_latitude","station_longitude","station_elevation","first_year","last_year"
]
midas_df = pd.read_csv(midas_path, skiprows=48, names=new_cols, header=0,
                       engine="python", on_bad_lines="skip")
print(f"MIDAS metadata: {midas_df.shape[0]} rows √ó {midas_df.shape[1]} columns")
display(midas_df.head())

CAA data: 5354 rows √ó 26 columns

,run_date,reporting_period,reporting_airport,origin_destination_country,origin_destination,airline_name,arrival_departure,scheduled_charter,number_flights_matched,actual_flights_unmatched,...,flights_between_61_and_120_minutes_late_percent,flights_between_121_and_180_minutes_late_percent,flights_between_181_and_360_minutes_late_percent,flights_more_than_360_minutes_late_percent,flights_unmatched_percent,flights_cancelled_percent,average_delay_mins,previous_year_month_flights_matched,previous_year_month_early_to_15_mins_late_percent,previous_year_month_average_delay
0,14/03/2025 09:52,202501,ABERDEEN,POLAND,GDANSK,WIZZ AIR,A,S,13,0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,4.0,9,44.444444,67.0
1,14/03/2025 09:52,202501,ABERDEEN,POLAND,GDANSK,WIZZ AIR,D,S,13,0,...,7.692308,0.000000,0.000000,0.000000,0.0,0.000000,14.0,9,44.444444,70.0
2,14/03/2025 09:52,202501,ABERDEEN,UNITED KINGDOM,BELFAST CITY (GEORGE BEST),LOGANAIR LTD,A,S,16,0,...,0.000000,0.000000,5.882353,5.882353,0.0,5.882353,52.0,15,38.888889,49.0
3,14/03/2025 09:52,202501,ABERDEEN,UNITED KINGDOM,BELFAST CITY (GEORGE BEST),LOGANAIR LTD,D,S,16,0,...,0.000000,0.000000,5.882353,5.882353,0.0,5.882353,53.0,16,44.444444,47.0
4,14/03/2025 09:52,202501,ABERDEEN,UNITED KINGDOM,BIRMINGHAM,LOGANAIR LTD,A,S,50,0,...,3.773585,3.773585,3.773585,0.000000,0.0,5.660377,23.0,53,75.438596,15.0

MIDAS metadata: 1538 rows √ó 10 columns

,src_id,station_name,station_file_name,historic_county,authority,station_latitude,station_longitude,station_elevation,first_year,last_year
0,00063,INVERPOLLY,inverpolly,ross-and-cromarty,Met Office,58.068,-5.267,14.0,1972.0,1997.0
1,00064,PLOCKTON,plockton,ross-and-cromarty,Met Office,57.337,-5.653,12.0,1979.0,2019.0
2,00065,ACHNASHELLACH,achnashellach,ross-and-cromarty,Met Office,57.490,-5.275,67.0,1926.0,1982.0
3,00066,KINLOCHEWE,kinlochewe,ross-and-cromarty,Met Office,57.613,-5.306,25.0,1953.0,2024.0
4,00067,LOCH GLASCARNOCH,loch-glascarnoch,ross-and-cromarty,Met Office,57.725,-4.895,269.0,1992.0,2024.0

In [6]:
# Standardise and clean
caa_df.columns = caa_df.columns.str.lower()
caa_df["reporting_period"] = pd.to_datetime(caa_df["reporting_period"], format="%Y%m", errors="coerce")
caa_df["average_delay_mins"] = caa_df["average_delay_mins"].fillna(0)

midas_df.columns = midas_df.columns.str.lower()
midas_df = midas_df.dropna(subset=["station_latitude","station_longitude"])

print(" Cleaned and validated datasets")
print(f"CAA shape {caa_df.shape}‚ÄÉMIDAS shape {midas_df.shape}")
display(caa_df.head())
display(midas_df.head())

 Cleaned and validated datasets
CAA shape (5354, 26)‚ÄÉMIDAS shape (1489, 10)

,run_date,reporting_period,reporting_airport,origin_destination_country,origin_destination,airline_name,arrival_departure,scheduled_charter,number_flights_matched,actual_flights_unmatched,...,flights_between_61_and_120_minutes_late_percent,flights_between_121_and_180_minutes_late_percent,flights_between_181_and_360_minutes_late_percent,flights_more_than_360_minutes_late_percent,flights_unmatched_percent,flights_cancelled_percent,average_delay_mins,previous_year_month_flights_matched,previous_year_month_early_to_15_mins_late_percent,previous_year_month_average_delay
0,14/03/2025 09:52,2025-01-01,ABERDEEN,POLAND,GDANSK,WIZZ AIR,A,S,13,0,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,4.0,9,44.444444,67.0
1,14/03/2025 09:52,2025-01-01,ABERDEEN,POLAND,GDANSK,WIZZ AIR,D,S,13,0,...,7.692308,0.000000,0.000000,0.000000,0.0,0.000000,14.0,9,44.444444,70.0
2,14/03/2025 09:52,2025-01-01,ABERDEEN,UNITED KINGDOM,BELFAST CITY (GEORGE BEST),LOGANAIR LTD,A,S,16,0,...,0.000000,0.000000,5.882353,5.882353,0.0,5.882353,52.0,15,38.888889,49.0
3,14/03/2025 09:52,2025-01-01,ABERDEEN,UNITED KINGDOM,BELFAST CITY (GEORGE BEST),LOGANAIR LTD,D,S,16,0,...,0.000000,0.000000,5.882353,5.882353,0.0,5.882353,53.0,16,44.444444,47.0
4,14/03/2025 09:52,2025-01-01,ABERDEEN,UNITED KINGDOM,BIRMINGHAM,LOGANAIR LTD,A,S,50,0,...,3.773585,3.773585,3.773585,0.000000,0.0,5.660377,23.0,53,75.438596,15.0

,src_id,station_name,station_file_name,historic_county,authority,station_latitude,station_longitude,station_elevation,first_year,last_year
0,00063,INVERPOLLY,inverpolly,ross-and-cromarty,Met Office,58.068,-5.267,14.0,1972.0,1997.0
1,00064,PLOCKTON,plockton,ross-and-cromarty,Met Office,57.337,-5.653,12.0,1979.0,2019.0
2,00065,ACHNASHELLACH,achnashellach,ross-and-cromarty,Met Office,57.490,-5.275,67.0,1926.0,1982.0
3,00066,KINLOCHEWE,kinlochewe,ross-and-cromarty,Met Office,57.613,-5.306,25.0,1953.0,2024.0
4,00067,LOCH GLASCARNOCH,loch-glascarnoch,ross-and-cromarty,Met Office,57.725,-4.895,269.0,1992.0,2024.0

In [7]:
from geopy.distance import geodesic

airport_coords = {
    "HEATHROW": (51.47, -0.4543),
    "GATWICK": (51.15, -0.1821),
    "MANCHESTER": (53.36, -2.2726),
    "EDINBURGH": (55.95, -3.3725),
    "ABERDEEN": (57.20, -2.20),
    "BIRMINGHAM": (52.45, -1.75),
    "GLASGOW": (55.87, -4.43),
    "BRISTOL": (51.38, -2.72)
}

def nearest_station(airport_coords, stations):
    mapping = {}
    for airport, coords in airport_coords.items():
        distances = stations.apply(
            lambda r: geodesic(coords, (r["station_latitude"], r["station_longitude"])).km, axis=1)
        nearest = stations.loc[distances.idxmin()]
        mapping[airport] = nearest["src_id"]
        print(f"üìç {airport} ‚Üí {nearest['station_name']} ({nearest['src_id']})")
    return mapping

airport_map = nearest_station(airport_coords, midas_df)

üìç HEATHROW ‚Üí HEATHROW (00708)
üìç GATWICK ‚Üí GATWICK (00725)
üìç MANCHESTER ‚Üí RINGWAY (01135)
üìç EDINBURGH ‚Üí TURNHOUSE (00246)
üìç ABERDEEN ‚Üí DYCE (00161)
üìç BIRMINGHAM ‚Üí ELMDON (00593)
üìç GLASGOW ‚Üí ABBOTSINCH (00971)
üìç BRISTOL ‚Üí LONG ASHTON (01305)

In [8]:
caa_df["reporting_airport"] = caa_df["reporting_airport"].str.upper()
caa_df["src_id"] = caa_df["reporting_airport"].map(airport_map)
display(caa_df[["reporting_airport","src_id","average_delay_mins"]].head(10))

  reporting_airport src_id  average_delay_mins
0          ABERDEEN  00161                 4.0
1          ABERDEEN  00161                14.0
2          ABERDEEN  00161                52.0
3          ABERDEEN  00161                53.0
4          ABERDEEN  00161                23.0
5          ABERDEEN  00161                23.0
6          ABERDEEN  00161                21.0
7          ABERDEEN  00161                21.0
8          ABERDEEN  00161                 0.0
9          ABERDEEN  00161                27.0

In [9]:
processed = base_path / "data" / "processed"
processed.mkdir(parents=True, exist_ok=True)

caa_df.to_csv(processed / "flights_with_stations.csv", index=False)
midas_df.to_csv(processed / "midas_stations_clean.csv", index=False)

print(f" Files saved to {processed}")

print("""
# Summary
- Imported and inspected datasets  
- Cleaned and validated structure  
- Mapped 8 UK airports to nearest MIDAS stations  
- Saved ready-to-integrate outputs for downstream modelling
""")

 Files saved to C:\Users\NEOWIN AUTOS\Documents\Github\weather_delay_project\data\processed

# Summary
- Imported and inspected datasets
- Cleaned and validated structure
- Mapped 8 UK airports to nearest MIDAS stations
- Saved ready-to-integrate outputs for downstream modelling